* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

.logo-title{
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header {
    background: rgb(3,70,3);
    background: linear-gradient(90deg, rgba(3,70,3,1) 0%, rgba(69,217,78,1) 48%, rgba(20,183,96,1) 100%);
    color: white;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Style de base du bouton */
.btn-vert {
    background-color: #28a745; /* Vert */
    color: #fff; /* Texte blanc */
    padding: 10px 20px; /* Espace interne */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition pour les effets */
}

/* Effet au survol */
.btn-vert:hover {
    background-color: #218838; /* Vert plus foncé */
    transform: translateY(-2px); /* Légère élévation */
}

/* Effet quand on clique */
.btn-vert:active {
    background-color: #1e7e34; /* Vert encore plus foncé */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduit l'ombre */
    transform: translateY(1px); /* Légère descente */
}

.btn-black {
    background-color: #363736; /* Vert */
    color: #fff; /* Texte blanc */
    padding: 10px 20px; /* Espace interne */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition pour les effets */
}

/* Effet au survol */
.btn-black:hover {
    background-color: #1b1b1b; /* Vert plus foncé */
    transform: translateY(-2px); /* Légère élévation */
}

/* Effet quand on clique */
.btn-black:active {
    background-color: #000000; /* Vert encore plus foncé */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduit l'ombre */
    transform: translateY(1px); /* Légère descente */
}

.btn-white {
    background-color: #e0e6e1; /* Vert */
    color: #15ab3b; /* Texte blanc */
    padding: 10px 20px; /* Espace interne */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition pour les effets */
}

/* Effet au survol */
.btn-white:hover {
    background-color: #ced2cf; /* Vert plus foncé */
    transform: translateY(-2px); /* Légère élévation */
}

/* Effet quand on clique */
.btn-white:active {
    background-color: #aeaeae; /* Vert encore plus foncé */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduit l'ombre */
    transform: translateY(1px); /* Légère descente */
}

.btn-bottom {
    font-size: 2rem;
    margin-left: 2.5%;
}

.hero {
    text-align: center;
    padding: 3rem;
    background-color: #e0f7fa;
    margin-left: 2rem;
    margin-right: 2rem;
    height: auto;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.logo { 
    width: 105px; 
    height: 70px; 
    margin: 10px;
}

.logo-contain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-contain img{
    height: 80px;
    padding-right: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta {
    padding: 0.75rem 2rem;
    background-color: #ff9800;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    background-color: #fff;
}

.feature {
    text-align: center;
    max-width: 250px;
}

.stats {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #e0f7fa;
}

.stat {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    background-color: #42bd54;
    text-align: center;
    padding: 2rem 1rem;
}

.newsletter h2 {
    margin-bottom: 1rem;
}

/* fade in effect scroll paragraph */

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.counter {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.box{
    display: flex;
}

.box-container-text{
    max-width: 40%;
    margin-right: 30px;
}

.box-text {
    padding: 20px;
    text-align: center;
    overflow: hidden;
    height: auto;
}

.box-container-img {
    display: flex;
    justify-content: center; /* Centrer les images horizontalement */
    align-items: center; /* Centrer les images verticalement */
    overflow: hidden; /* Masquer le débordement si les images sont trop grandes */
}

.banner-img {
    height: 500px;
    background-image: url('./img/ddc.png');
    background-size: cover; /* Couvre le conteneur sans étirer l'image */
    background-position: 90% 20%; /* Centre l'image */ /* Évite la répétition de l'image */
    overflow: hidden;
}


h3{
    margin: 4px;
}

#summary {
    height: auto;
    margin-top: auto;
}

.banner {
    display: flex;
    justify-content: center; /* Centrer les images horizontalement */
    align-items: center; /* Centrer les images verticalement */
    overflow: hidden; /* Masquer le débordement si les images sont trop grandes */
}

.banner img {
    max-width: 33.33%; /* Ajuster la largeur pour que les trois images tiennent sur une ligne */
    height: auto; /* Maintenir le ratio d'aspect */
}

.social-logo{
    height: 100px;
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .box-container {
        visibility: hidden;
        display: none;
    }

    .relativ2{
        visibility: hidden;
        display: none;
    }

    .relativ1{
        visibility: hidden;
        display: none;
    }

    .box-container-img{
        visibility: hidden;
        display: none;
    }
    .box-container-text{
        max-width: 100%;
    }
    
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .container{
        justify-content: center;
    }
    .btn-phone{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
    }


    .banner-img{
        background-position: center;
        overflow: hidden;
    }

    .box-container {
        visibility: hidden;
        display: none;
    }

    .logo{
        display: none;
        visibility: hidden;
    }
    .logo-contain{
        display: none;
        visibility: hidden;
    }

    .relativ2{
        visibility: hidden;
        display: none;
    }

    .relativ1{
        visibility: hidden;
        display: none;
    }

    .box{
        text-align: center;
    }

    .box-container-img{
        visibility: hidden;
        display: none;
    }

    .box-container-text{
        max-width: 100%;
        margin: 0;
        padding:0;
    }
    
    .btn-phone-top{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    .btn-phone{
        height: auto;
    }
}